<% include partials/_header %>

<div class="container">
	<div class="row mt-5">
		<div class="col-md-7">
			<img src="../images/Imagen1.png" width="1500px" height="1500px">
			<img src="../images/imagen5.png" width="1500px" height="1500px">
			<img src="../images/Imagen2.png" width="500px" height="500px">
			<img src="../images/Imagen3.png" width="500px" height="500px">
			<img src="../images/imagen4.png" width="500px" height="500px">
		</div>
	</div>
</div>

<% include partials/_footer %>